
body{
  background-color: rgb(247, 235, 220);
}
span{
  font-weight: bold;
}
.section-background-color{
  background-color: rgb(133, 179, 192);
}
a {
  color: #09595b;
  font-family: "Montserrat", sans-serif;
  margin: 10px 5px;
  text-decoration: none;
}

a:hover {
color: #b1baba;
}
.title-text{
/* background-color: #ffff;*/
 color: #fff;

}
.container-title{
  background-color: rgb(24, 52, 90);  
}

/* Media Query for Mobile Devices */ 
@media (max-width: 574px) { 
  .container-profile{
    height: 150px;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    margin-top: -8px;
    
  }
  .container-title{
    height: 220px;
  }
    .p-title-text{
    font-size: 15px;
      }
      
} 

/* Media Query for low resolution  Tablets, Ipads */ 
@media (max-width: 767px) { 
.container-profile{
  height: 170px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  margin-top: -14px;
 
}
.container-title{
  height: 210px;
  width: 90%;
  margin-left: 6%;
}
.p-title-text{
  font-size: 15px;
}

} 

/* Media Query for Tablets Ipads portrait mode */ 
@media (min-width: 768px) and (max-width: 990px){ 
  .container-profile{
      height: 190px;
      width: 250px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 12px;
      margin-top: -14px;
      
    }
    .container-title{
      height: 200px;
    }
} 

